

body {
    background-color: #000000;
    background-image: url("../images/otto\ syracuse\ mascot.html");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

p {
    border: 2px solid #ffac00;
    padding: 10px;
    margin: 20px;
}