p, ul, td, th {
    color:#495716;
  font-family: Times New Roman, Arial;
  background-color: #2f00da;

  }
  h1 {
      font-size: 200%;
      text-align: center;
      color: #2f00da;
  }
  h2 {
    color: #ffffff;
    font-size:  100%;
    background-color: #495716;
    border-radius: 20px;
    text-align: center;
  }

  p {
    color:#ffffff;
    background-color: #2f00da;
  }

   body {
      background-color: #fff5d7;
    }

  div {
  display: flex;
  margin: 5px;
  float: left;
  padding: 5px;

  }
