p, ul, td, th {
    color:brown;
    font-family:Times New Roman, Arial;
}
  
h1 {
    color:blue;
    font: size 200%;
}
h2 {
    color:blueviolet;
    font-size:100%;
}
.evenrow{
    background-color: aquamarine;
}
