p, ul, td, th {
    color:red;
    font-family:Times New Roman, Arial;
}
  
h1 {
    color:blue;
    font: size 200%;
}
h2 {
    color:darkmagenta;
    font-size:100%;
}
.evenrow{
    background-color:darkgreen;
}
